.card {
    border: 1px solid #EAEAEC;
    width: 80%;
    height: 340px;

}

.image {
    width: 100%;
}

.swiper {
    overflow: visible;
    width: 100%;
    height: 100%;
}



@media (min-width:768px) {
    .card {
        border: 1px solid #EAEAEC;
        width: 15rem;
    }

    .image {
        width: 15rem;
        height: 60%;
    }
}